<?xml version="1.0" encoding="UTF-8" ?>
<settings>
  <TargetPath>...</TargetPath>
  <SourcetPath>...</SourcetPath>
  <Mods>
    <Archive>Archive</Archive>
    <Dearchive>DArchive</Dearchive>
    <Encrypt>Encrypt</Encrypt>
	<ArchiveAndEcrypt>ArchiveAndEcrypt</ArchiveAndEcrypt>
    <Decrypt>Decrypt</Decrypt>
  </Mods>
</settings>
